body{
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}

a{
  color: #3471bc;
  text-shadow: 1px 1px #eee;
}

a:hover{
  color: #5482bc;
}

h1, h2, h3{
  font-family: Georgia, serif;
  font-weight: bold;
  color: #4b9423;
  text-shadow:1px 1px #CCCCCC;
}

h1{
  line-height: 40px;
  font-size: 30px;
}

h2{
  margin: 10px 0 5px;
  font-size: 24px;
}

h3{
  margin: 10px 0 0;
  font-size: 16px;
}

p{
  margin: 3px 0 7px;
}

.clear{
  clear: both;
}

#left{
  float: left;
  width: 800px;
}

#right{
  float: right;
  width: 139px;
  padding: 0 0 0 20px;
  border-left: 1px solid #aaa;
}

#right ul{
  list-style: none;
}

#head{
  background-color: #acacac;
  border-bottom: 5px solid #333;
  padding: 10px 0;
  margin-bottom: 20px;
}

#head a{
  color:#fff;
  font-size:40px;
  font-style:italic;
  text-decoration:none;
  text-shadow: none;
}

.content{
  margin: 0 auto;
  width: 960px;
}

.pagination{
  margin: 10px 0;
  color: #333;
}

.pagination span, .pagination a{
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 2px;
}

.pagination .current{
  background-color: #ccc;
}

#site{
  margin-bottom: 10px;
}

/*Flash*/
#flash_error{
  background-color: #ffeeee;
  border: 1px solid #ffcccc;
  padding: 5px;
  margin: 10px 0;
}

#flash_notice{
  background-color: #eeffee;
  border: 1px solid #ccffcc;
  padding: 5px;
  margin: 10px 0;
}

/*Errors*/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
