.thing{
  width: 220px;
  height: 220px;
  text-decoration: none;
  color: #000;
  border: 1px solid #aaa;
  background-color: #fff;
  display: block;
  -moz-box-shadow: 2px 5px 10px #333;
  -webkit-box-shadow: 2px 5px 10px #333;
  box-shadow: 2px 5px 10px #333;
  text-align: center;
  overflow: hidden;
  float: left;
  margin: 10px 15px;
  position: relative;
}

.thing img{
  margin: 10px;
}

.thing span{
  display: block;
  line-height:50px;
  font-size: 24px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0
}

.thing:hover{
  -moz-box-shadow: 2px 5px 20px #333;
  -webkit-box-shadow: 2px 5px 20px #333;
  box-shadow: 2px 5px 20px #333;
  color: #000;
}
