#footer
  .content
    my things is open-source
    |
    = link_to 'grab the code', 'http://github.com/mordaroso/my-things'
    |
    - if logged_in?
      You are logged in
      |
      = link_to 'logout', logout_url

    - else
      = link_to 'login', login_url
